[submodule "01-reforzamiento-javascript"]
	path = 01-reforzamiento-javascript
	url = https://github.com/bernar2cl/01-reforzamiento-javascript.git
[submodule "02-first-steps-React-TypeScript-SWC"]
	path = 02-first-steps-React-TypeScript-SWC
	url = https://github.com/bernar2cl/02-first-steps-React-TypeScript-SWC.git
[submodule "03-gifs-app-React-TypeScript-SWC"]
	path = 03-gifs-app-React-TypeScript-SWC
	url = https://github.com/bernar2cl/03-gifs-app-React-TypeScript-SWC.git
[submodule "05-heroes-app-React-TypeScript-SWC"]
	path = 05-heroes-app-React-TypeScript-SWC
	url = https://github.com/bernar2cl/05-heroes-app-React-TypeScript-SWC.git
[submodule "04-hooks-app-React-TypeScript"]
	path = 04-hooks-app-React-TypeScript
	url = https://github.com/bernar2cl/04-hooks-app-React-TypeScript.git
[submodule "07-teslo-shop-app-React-TypeScript-SWC"]
	path = 07-teslo-shop-app-React-TypeScript-SWC
	url = https://github.com/bernar2cl/07-teslo-shop-app-React-TypeScript-SWC.git
[submodule "10-Calendario"]
	path = 10-Calendario
	url = https://github.com/bernar2cl/10-Calendario.git
